<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="header__logo logo" href="../index.html">
        <img class="logo__img" src="images/logo.png" alt="Логотип">
      </a>
      <ul class="header__menu menu">
        <li class="menu__item">
          <a class="menu__link" href="../index.html">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="blog.html">Blog</a>
        </li>
        <li class="menu__item">
          <button class="menu__link js-reg" type="button">Register</button>
        </li>
        <li class="menu__item">
          <button class="menu__link js-log" type="button">Login</button>
        </li>
      </ul>
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="hide"> открыть/закрыть меню</span>
      </button>
    </nav>

  </div>
</header>